<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
    <% if @events_by_date[date.beginning_of_day] %>
      <ul>
        <% @events_by_date[date.beginning_of_day].each do |event| %>
          <li><%= link_to event.title, event.website, :target => "_blank" %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
